.App {
  text-align: center;
  background-color: white;
  font-family: 'Source Sans Pro';
}

.App-logo {
  height: 50%;
  margin-top: 3vmin;
  margin-right: -8vmin;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page-container {
  margin-top: 3vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Tab component CSS */
.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

/* end of tab css */

/** Dropdown component css **/
.dropdown {
  float: left;
  position: relative;
}

.dropdown .default-btn-white{
  text-transform: capitalize;
  font-weight: bolder;
}

.dropdown button {
  padding: 1vmin;
  width: fit-content
}

.dropdown-content {
  position: absolute;

}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  color: black;
  text-decoration: none;
  text-align: left;
  padding: 1vmin;
  border: 1px
}

.dropdown-link:hover {
  background-color: rgb(207, 207, 207);
  text-decoration: none;
  color: black
}

.dropdown-content ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.dropdown-content ul li {
  margin: 0;
  background-color: white;
}

.dropdown-content ul li:hover {
  background-color: rgb(207, 207, 207);
}

.dropdown-content ul li button {
  width: 100%;
  height: 100%;
  text-align: left;
  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

/* end of dropdown css */

.Signin-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 75vh;
}

.Signin-form {
  display: block;
  width: 440px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Settings-form {
  display: block;
  width: 900px;
  height: 3000px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 100px;
  margin-top: 100px;
  padding-bottom: 200px;
  border-radius: 8px;
  background-color: white;
}

.Signup-form {
  display: block;
  width: 900px;
  height: 3000px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 100px;
  margin-top: 100px;
  padding-bottom: 50px;
  border-radius: 8px;
  background-color: white;
}

.Signin-form-content {
  padding-left: 10%;
  padding-right: 10%;
}

.Signin-form-logo {
  margin-bottom: 1em;
  color: black;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: black;
  display: block;
  margin-bottom: 4px;
}

input {
  display: block;
  width: 50vmin;
  margin-top: 5px;
  border: 1px solid gray;
  font-size: smaller;
  padding: 4px;
}

input:focus {
  outline: none
}

.default-btn {
  display: block;
  margin-top: 2vmin;
  background-color: #88BBF6;
  border: none;
  box-sizing: border-box;
  width: 100%;
  padding-top: 3px ;
  padding-bottom: 4px;
  color: white;
  font-weight: bold;
  padding: px;
  text-transform: uppercase;
}

.default-btn-white {
  display: block;
  margin-top: 3vmin;
  background-color: white;
  border: none;
  box-sizing: border-box;
  padding: 0.5em;
  color: #88BBF6;
  font-weight: bold;
  padding: px;
  text-transform: uppercase;
}

.settings-btn {
  display: block;
  margin-top: 2vmin;
  background-color: #88BBF6;
  border: none;
  box-sizing: border-box;
  width: 100%;
  padding-top: 15px ;
  padding-bottom: 4px;
  color: white;
  font-weight: bold;
  padding: px;
  text-transform: uppercase;
  border-radius: 8px;
  text-align: center;

}

.forgotPW-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.logo-container {
  width: 40vmin;
  margin: 9vmin;
  margin-bottom: 1vmin;
}

.form-content  {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
}

.link-text {
  color: grey;
  margin: 8px;
}

/** profile page css **/

.profile-header {
  border: 1px solid black;
  margin-top: 1vmin;
  padding: 4vmin;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  display: flex;
}

.profile-header h2 {
  font-weight: bold;
}

.profile-picture {
  margin: auto;
  float: left;
  align-items: center;
  width: 10%;
  position: relative;
  
}



.profile-picture img {
  width: 100%;
  vertical-align: middle;
}

.profile-info {
  float: left;
  width: 90%;
  text-align: left;
  padding-left: 2vmin;
  line-height: 0;
}


.notifs-content  {
  display: block;
  width: 900px;
  height: 3000px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 100px;
  margin-top: 100px;
  padding-bottom: 200px;
  border-radius: 8px;
  background-color: white;
}

