.App {
  text-align: center;
  background-color: white;
  font-family: 'Source Sans Pro';
}

.App-logo {
  height: 50%;
  margin-top: 3vmin;
  margin-right: -8vmin;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Navbar-btn {
  border: none;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.Navbar-btn:focus {
  color:black;
}

.page-container {
  margin-top: 3vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Tab component CSS */
.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

/* end of tab css */

/** Dropdown component css **/
.dropdown {
  float: left;
  position: relative;
}

.dropdown .default-btn-white{
  text-transform: capitalize;
  font-weight: bolder;
}

.dropdown button {
  padding: 1vmin;
  width: fit-content
}

.dropdown-content {
  position: absolute;

}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  color: black;
  text-decoration: none;
  text-align: left;
  padding: 1vmin;
  border: 1px
}

.dropdown-link:hover {
  background-color: rgb(207, 207, 207);
  text-decoration: none;
  color: black
}

.dropdown-content ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.dropdown-content ul li {
  margin: 0;
  background-color: white;
}

.dropdown-content ul li:hover {
  background-color: rgb(207, 207, 207);
}

.dropdown-content ul li button {
  width: 100%;
  height: 100%;
  text-align: left;
  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

/* end of dropdown css */

.Signin-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 75vh;
}

.Signin-form {
  display: block;
  width: 440px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Settings-form {
  display: block;
  width: 900px;
  height: 3000px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 100px;
  margin-top: 100px;
  padding-bottom: 200px;
  border-radius: 8px;
  background-color: white;
}

.Signup-form {
  display: block;
  width: 900px;
  height: 3000px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 100px;
  margin-top: 100px;
  padding-bottom: 50px;
  border-radius: 8px;
  background-color: white;
}

.Signin-form-content {
  padding-left: 10%;
  padding-right: 10%;
}

.Signin-form-logo {
  margin-bottom: 1em;
  color: black;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: black;
  display: block;
  margin-bottom: 4px;
}

input {
  display: block;
  width: 50vmin;
  margin-top: 5px;
  border: 1px solid gray;
  font-size: smaller;
  padding: 4px;
}

input:focus {
  outline: none
}

.default-btn {
  display: block;
  margin-top: 2vmin;
  background-color: #88BBF6;
  border: none;
  box-sizing: border-box;
  width: 100%;
  padding-top: 3px ;
  padding-bottom: 4px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.default-btn-white {
  display: block;
  margin-top: 2vmin;
  background-color: white;
  border: none;
  box-sizing: border-box;
  width: 100%;
  padding-top: 3px ;
  padding-bottom: 4px;
  color: #88BBF6;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #88BBF6;
}

.no-outline-btn {
  border: none;
  background-color: transparent;
  color: grey;
  font-weight: bold;
  font-size: small;
  padding: 5px;
  cursor: pointer;
}

.no-outline-btn:hover{
  background-color: rgb(221, 221, 221);
}



.settings-btn {
  display: block;
  margin-top: 2vmin;
  background-color: #88BBF6;
  border: none;
  box-sizing: border-box;
  width: 100%;
  padding-top: 15px ;
  padding-bottom: 4px;
  color: white;
  font-weight: bold;
  padding: px;
  text-transform: uppercase;
  border-radius: 8px;
  text-align: center;

}

.forgotPW-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.logo-container {
  width: 40vmin;
  margin: 9vmin;
  margin-bottom: 1vmin;
}

.form-content  {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
}

.link-text {
  color: grey;
  margin: 8px;
}

/** profile page css **/

.profile-header {
  border: 1px solid black;
  margin-top: 1vmin;
  margin: 3vmin;
  padding: 4vmin;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  display: flex;
  border-radius: 8px;
  width: 80%
}

.profile-header h2 {
  font-weight: bold;
}

.profile-picture {
  margin: auto;
  float: left;
  align-items: center;
  width: 10%;
  position: relative;
  
}

.profile-picture img {
  width: 100%;
  vertical-align: middle;
}

.profile-header .profile-info {
  float: left;
  width: 70%;
  text-align: left;
  padding-left: 2vmin;
  line-height: 0;
}

.profile-button {
  width: 20%;
  float: left;
}

/** end of profile page css **/

/** friends page css **/
.search-bar {
  width: 80%;
  border: none;
  border-radius: 12px;
  display: block;
  padding: 9px 4px 9px 40px;
  background: #F0F0F0 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") 
  no-repeat 13px center;
}

/** end of friend page css **/

/** edit profile css **/
.edit-profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  text-align: left;
  cursor: default;
}

.edit-profile-form input, label, textarea {
  width: 100%;
  display: block;
}
.edit-profile-form select {
  width: 100%;
  border-radius: 0%;
}

.edit-profile-form .profile-info {
  width: 80%
}
.edit-profile-form .profile-info div {
  margin-bottom: 1.25vmin;
}

.profile-photo {
  display: flex;
}

.button-container {
  margin-top: auto;
  margin-bottom: auto;
}

.button-container button {
  font-weight: normal;
  text-transform: none;
  padding: 1vmin 2vmin;
}

.button-container label {
  font-weight: normal;
  padding: 1vmin 2vmin 1vmin;
  color: white;
  background-color: #88BBF6;
  font-size: 1em;
  cursor: pointer;
}
.profile-photo-container {
  width: 20vmin;
  margin: 3vmin;
  margin-left: 0;
}
.profile-photo-circle {
  cursor:default;
  position: relative;
  width: 100%;
  height: 0;
  padding: 100% 0 0;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black;
}

.upload-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.profile-photo-circle:hover .upload-icon{
  visibility: visible;
}

.profile-photo-circle img {
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.photo-preview img {
  margin: auto;
  margin-top: 7vmin;
  width: 50%;
  display: block;
}
.photo-preview button {
  margin: 2vmin auto;
  display: block;
  width: fit-content;
  text-transform: capitalize;
  font-weight: normal;
}

.profile-upload {
  margin: 0 auto;
}



.notifs-content  {
  position:relative;
  display: block;
  width: 900px;
  height: 3000px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 100px;
  margin-top: 100px;
  padding-bottom: 200px;
  border-radius: 8px;
  background-color: white;
}


.forum-header {
  border: 1px solid black;
  margin-top: 1vmin;
  margin: 3vmin;
  padding: 4vmin;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  display: flex;
  border-radius: 8px;
  width: 80%
}

.forum-header h2 {
  font-weight: bold;
}
.refresh {
  position: absolute;
  top:0;
  right:0;
  
}

/** Post CSS **/
.post-container {
  width: 70%;
  border: 1px solid black;
  padding: 0.75em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  margin: auto;
  text-align: left;
  display: block;
}
.create-post {
  width: 100%;
  padding-left: .5em;
  border: none;
  margin-right: 5px;
  resize: none;
  padding-top: .5em;
  overflow: hidden;
  font-size: 1.5em;
}

.create-post:focus {
  outline: none
}

.post-container hr {
  margin: 0;
  margin-top: 5px
}

.forum-select {
  width: 40%;
  font-size: smaller;
  font-weight: bold;
}


.post-utils-container{
  float: left;
  width: 80%;
  margin-top: 0;
  text-align: left;
  padding-left: 1em;
  padding-top: 1em
}

.post-button-container{
  float: left;
  width: 20%;
}

.photo-uploaded-container {
  position: relative;
  float: left;
  text-align: left;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}

.photo-uploaded-container .no-outline-btn {
  position: absolute;
  color: black;
}

.photo-uploaded-container img {
  width: 20%;
}

.all-post {
  margin: auto;
  margin-top: 2em;
  width: 100%;
  display: block;
}

.all-post .post-container{
  padding-bottom: 4px;
  margin-bottom: 1em
}

.post-utils-container{
  margin: 0;
}

.post-stats-container .no-outline-btn, i{
  margin-right: 4px;
}
